.projectDetailArea {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.main-img {
    width: 50%;
    height: 30rem;
    min-width: 600px;
}

.img-fluid {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

.projectDetail {
    width: 40%;
    min-width: 477px;
    height: 30rem;
    margin: 0 20px;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.detailList li {
    list-style: disc;
}

h4,
li {
    font-weight: 100;
}

.bottomArea {
    margin-top: 50px;
}

ul {
    margin-left: 40px;
}

.projectDetail a {
    text-decoration: none;
}

.projectDetail a:hover {
    text-decoration: underline;
}


.link {
    display: flex;
    justify-content: space-between;
}

.text {
    margin-right: 10px;
}

.projLinks {
    display: flex;
    align-items: center;
    gap: 20px;
}

.projLinks .links {
    display: flex;
    gap: 10px;
}

.projLinks .links .icon {
    font-size: 30px;
    cursor: pointer;
}


li {
    list-style: disc;
}

.category,
.tech,
.text {
    font-weight: 500;
}

.tech_names {
    text-transform: uppercase;
}

.bottomArea ul li {
    padding-bottom: 7px;
    letter-spacing: 1px;
}

@media screen and (max-width:1270px) {
    .projectDetailArea {
        flex-direction: column;
    }

    .main-img {
        margin-top: 50px;
    }

    .projectDetail {
        margin-top: -160px;
    }
}

@media screen and (max-width:650px) {

    .main-img {
        /* width: 200px; */
        min-width: 400px;
    }

    .projectDetail {
        margin-top: -80px;
    }
}

@media screen and (max-width:530px) {

    .projectDetail {
        min-width: 350px;
    }
}

@media screen and (max-width:415px) {

    .projectDetail {
        min-width: 250px;
    }

    .main-img {
        min-width: 300px;
    }
}