.education-area {
    width: 80%;
    margin: 0 auto;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
}

h1{
    font-size: 35px;
    font-weight: 600;
}
h4,
h3 {
    margin: 0;
    padding: 0;
}
.heading{
    width: 80%;
    margin: 0 auto;
}
.graduationYear {
    /* font-size: 20pxrem; */
    color: white;
    background: tomato;
    padding: 5px 8px;
    border-radius: 3px;
    font-weight: bold;
    /* color: ; */
    display: inline-block;
}

.info {
    display: flex;
    margin-left: 50px;
    margin-top: 10px;
}

.info hr {
    color: rgb(11, 183, 222);
    background-color: rgb(11, 183, 222);
    margin: 0;
    padding: 0px 2px;
}
.clgInfo{
    margin-left: 10px;
}

.info li
{
    list-style: circle;
}
.info ul{
    margin-left: 40px;
}

.engineering h3,.juniorClg h3{
    margin: 8px 0;
}

.engineering h4 ,.juniorClg h4{
    margin: 5px 0;
}

.juniorClg{
    margin: 40px 0;
}
/* .school{
    margin: 10px 0;
} */

.hLine{
    color: yellow;
    background-color: crimson;
    height: 2px;
}