.skillSection {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.certificates ul {
    margin-left: 0;
    padding-left: 20px;
}

.certificateList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.certificateList li {
    list-style: square;
    margin-bottom: 7px;
    color: black;
}