.home-area {
    background: url("https://images.pexels.com/photos/218863/pexels-photo-218863.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") center center/cover no-repeat rgba(4, 4, 4, 0.281);
    background-blend-mode: darken;
    /* background-color: whitesmoke; */
    max-height: 800px;
    height: 100VH;
    width: 100%;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    height: 80%;
    margin: 0 auto;
}


.textarea {
    display: flex;
    flex-direction: column;
}

.textarea span {
    font-size: 27px;
}

.textarea .name {
    font-size: 85px;
    font-weight: 600;
}

.main-area {

    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: center;
    /* width: 70vw; */
    /* margin: 0 auto;  */
    /* flex-direction: column;  */
    /* align-items: center;  */
    /* justify-content: flex-start;  */
}

.main-area div {
    margin-bottom: 10px;
}


.social-icons {
    display: flex;
    width: 150px;
    justify-content: space-between;
}

.text-box span {
    font-size: 35px;
}

span {
    color: white;
}

.staticTxt {
    /* color: tomato; */
}

.dynamicTxt {
    color: tomato;
}

li {
    list-style: none;
}

.twitter {
    color: #1DA1F2;
    ;
    font-size: 25px;
}

.github {
    color: #999999;
    font-size: 25px;
}

.linkedin {
    color: #0A66C2;
    font-size: 25px;
}

.mail {
    color: #151617;
    ;
    font-size: 25px;
}

.hireButton button {
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    /* margin-top: 20px; */
    font-weight: 400;
    border-radius: 6px;
    cursor: pointer;
    border: 2px solid crimson;
}

.hireButton button:hover {
    color: white;
    background: none;
    font-weight: 600;
}