*{
    font-size: 20px;
    font-weight: bold;
}
nav{
    background-color: white;
}
.navbar{
    display: flex;
    height: 70px;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
}
/* .nScroll{
    display: none;
}
.fixed{
    display:block ;
} */

.list{
    display: flex;
    list-style: none;
}

.navbar-nav{
    /* display: flex; */
    /* margin: 0 auto ; */
}
.list li{
    margin: 0 20px;
}