*{
    font-size: 20px;
    font-weight: bold;
}
nav{
    background-color: crimson;
    color: white;
}
.navbar{
    display: flex;
    height: 60px;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
}
.scrolling{
    display: block;
    position: fixed;
    width: 100%;
    top: 0;
}
.notScrolling{
    display:none ;
}

.list{
    display: flex;
}

.navbar-nav{
    /* display: flex; */
    /* margin: 0 auto ; */
}
.list li{
    margin: 0 20px;
}

.list li a {
    list-style: none;
    color: white;
    text-decoration: none;
}