header {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px 0;
    display: flex;
}

nav {
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
    display: flex;
}

.navbar {
    justify-content: space-between;
    margin: 0 auto;
    display: flex;

}

.nav_links {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
}

.nav_links .icon {
    text-decoration: none;
}

.logoTitle {
    font-size: 35px;
    font-weight: bolder;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav_links div {
    padding: 5px;
    border: 2px solid transparent;
}

.nav_links div:hover {
    border-bottom: 3px solid tomato;
}

.links {
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    text-decoration: none;
}

.links :hover {}

.links span {
    font-size: 18px;
    font-weight: 600;
}

.links .icon {
    font-size: 25px;
}

.bars {
    display: none;
    font-size: 39px;
    cursor: pointer;
}

.navOpen {
    display: flex;
    flex-direction: column;
}

.navClose {
    display: flex;
}

@media screen and (max-width:952px) {
    nav {
        width: 95%;
    }
}

@media screen and (max-width:800px) {
    .bars {
        display: flex;
        align-items: center;
    }

    .navbar {
        width: 90%;
    }


    .navOpen {
        display: flex;
        flex-direction: column;
    }

    .navClose {
        display: none;
    }

    nav {
        display: block;
    }
}

@media screen and (min-width:801px) {
    .bars {
        display: none;
    }

    .navbar {
        width: 80%;
    }

    .nav_links {
        display: flex;
        flex-direction: row;
    }

    nav {
        display: flex;
    }
}