.about {
    width: 80%;
    margin: 100px auto 150px;
    display: flex;
    gap: 50px;
}

.about h1 {
    /* text-align: center; */
    width: 50%;
    align-self: center;
}

.about p {
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 23px;
    text-align: center;
}


.info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.info button {
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    font-weight: 400;
    border-radius: 6px;
    cursor: pointer;
    background: #fc4a1a;
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);
    background: linear-gradient(to right, #f7b733, #fc4a1a);
    /* align-self: flex-end; */
}


.info button:hover {
    background: none;
    font-weight: 600;
    background: #e44d26;
    background: -webkit-linear-gradient(to left, #F16529, #E44D26);
    background: linear-gradient(to left, #F16529, #E44D26);
}

.info button {
    margin: 20px 0;
}